body {
    box-sizing: border-box;
    margin: 0;
    color: #3A2E2E;
    width: 1420px;
    height: 981px;


}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {

    width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header  */

.header {
    padding: 32px 100px;
    background-color: black;
    width: 1920px;
    height: 100px;
}

.header-list {
    display: flex;
    gap: 100px;
    padding: 32px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-link {
    color: rgba(255, 255, 255, 1);
    font-family: Oswald;
    font-size: 24px;
}

/* hero */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-img {

    top: 100px;
    left: 970px;

}

.hero-wrapp {
   


}

.hero-subtitle {
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    text-transform: capitalize;

}

.hero-span {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    text-transform: capitalize;


}

.hero-button {
    background: rgba(178, 255, 166, 1);
    font-family: "Oswald";
    font-weight: 400;
    font-style: "Regular";
    font-size: 24px;
    padding: 50px;
    border-radius: 4px;
}

/* .aboutus */
.aboutus {
    
    background-color: rgba(239, 239, 239, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 1990px;
    height: 742px;
    top: 900px;
    border-width: 1px;


}

.aboutus-container {
    
    display: flex;
    align-items: center;
    gap:78px ;
}

.aboutus-wrapper {
    
}

.aboutus-img {
     width: 642px;
    height: 642px;
    padding-left: 150px;
   
}

.aboutus-title {

    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.aboutus-text {

    padding-bottom: 30px;
}

.aboutus-button {
    background: rgba(178, 255, 166, 1);
    border-radius: 5px;
    padding-top: 15px;
    padding-right: 80px;
    padding-bottom: 15px;
    padding-left: 80px;
}

/* guaranteed */
.guaranteed {
   padding-top: ;
   padding-bottom: ;

}

.guaranteed-container {
   
    display: flex;
    
    
}

.guaranteed-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 115px;
     padding-top: 191px ;
    




}

.guaranteed-item {
    display: flex;
}

.guaranteed-wrapper {}

.guaranteed-title {
    width: 316px;
    height: 48px;
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    text-transform: capitalize;
}

.guaranteed-text {
    width: 330px;
    height: 112px;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    padding-top: 25px;
}

.guaranteed-img {
    width: 50px;
    height: 50px;
    padding: 25px;


}

/* .services */
.services {
    background-color: rgba(239, 239, 239, 1);
    width: 1920px;
    height: 824px;


    ;
}

.services-list {
    display: flex;
    gap: 20px;

}

.services-title {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    padding: 40px;

}

.services-text {
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    text-align: center;
    padding-bottom: 56px;
}


.services-img {
    width: 390px;
    height: 286px;
    border-radius: 10px;

}

.services-button {
    text-align: center;
    font-family: Oswald;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    border: 3px solid rgba(178, 255, 166, 1);
    border-radius: 5px;
    border-width: 3px;
    width: 356px;
    height: 66px;
}

/* footer */
.footer {
    width: 1920px;
    height: 150px;
    background-color: rgba(18, 18, 18, 1);

}

.footer-text {
    padding-left: 1308px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 1);
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    text-transform: capitalize;
    width: 462px;
    height: 28px;
}

.footer-img {
    padding-top: 36px;
    padding-left: 151px;


}

.footer-subtitle {
    padding-top: 51px;
    padding-left: 279px;
}